/*Barra de navegacion*/

.navbar {
    padding: 2rem;
    background-color: rgb(130, 130, 250);
}

.navbar-collapse {
    justify-content: space-between;
}

.navbar-collapse img:hover {
    transform: scale(1.1);
}

.navbar-collapse ul li a {
    color: white;
}

.navbar-collapse ul li a:hover {
    color: rgb(255, 255, 255);
    text-shadow: 2px 3px 5px rgb(255, 255, 255);
}

/*Estilo general de la section*/
section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/*Seccion principal*/
.principal {
    background-color: #f5f6f7;
    min-height: 450px;
    text-align: center;
}

/*Seccion perfil*/
.perfil {
    padding: 3rem;
}

.perfil img {
    width: 230px;
    height: 250px;
    border: 3px solid #ccc;
    border-radius: 100%;
    transition: transform 0.3s ease;
}

.perfil img:hover {
    transform: scale(1.1);
}

.perfil h1 {
    font-family: "Fredoka", sans-serif;
    font-size: 2.5rem;
}

.perfil h1:hover {
    text-shadow: 2px 3px 5px black;
}

.perfil h2 {
    font-family: "Fredoka", sans-serif;
    font-size: 1.5rem;
    color: #615151;
}

/*Seccion tecnologias*/
.tecnologias {
    padding: 3rem;
}

.tecnologias .tecnologias-imagen {
    border: 3px solid #ccc;
}

/*Seccion Estudios-Referentes*/
.estudios-referentes {
    padding: 2rem;
    font-family: "Fredoka", sans-serif;
}

.estudios-referentes ul {
    list-style: none;
}

.estudios-referentes h3:hover {
    text-shadow: 2px 3px 5px black;
}

.estudios-referentes ul li a:hover {
    text-shadow: 2px 3px 5px rgb(130, 130, 250);
}

/*Seccion Sobre mi*/
.sobre-mi {
    padding: 3rem;
}

.sobre-mi h2 {
    font-family: "Fredoka", sans-serif;
    font-size: 2.5rem;
    text-align: center;
}

.sobre-mi h2:hover {
    text-shadow: 2px 3px 5px black;
}

.sobre-mi p {
    font-family: "Fredoka", sans-serif;
    font-size: 1.3rem;
    text-align: justify;
}

/*Footer*/
.footer {
    background-color: rgb(39, 36, 36);
    padding: 2rem;
    font-family: "Fredoka", sans-serif;
    color: white;
}

.footer ul {
    list-style: none;
}

.footer ul li {
    font-size: 1.3rem;
}

.footer ul li a {
    color: white;
    text-decoration: none;
}

.footer ul li a:hover {
    text-shadow: 2px 3px 5px rgb(255, 255, 255);
}

/*Estilos Responsive*/
@media screen and (min-width: 700px) {
    .inferior-imagen {
        max-width: 600px;
    }
}